@media screen and (max-width: 1200px) {
    .holes {
        width: 100%;
        height: 50vh;
        top: 0;
    }

    .stats {
            top: 50vh;
            height: auto;
            flex-direction: row;
            width: 100%;
            background: #87cefa;
            bottom: 0;
            flex-direction: column;
    }

    body {
        overflow: scroll;
    }

    .hole {
        width: 19vw;
        height: 19vw;
    }

    img {
        width: 17vw;
        height: 17vw;
    }

    .mole {
        display: flex;
        justify-content: center;align-items: center;
    }
    /* .stats {
        width: 40%;
        position: absolute;
        right: 0px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
    } */

    .timer,
    .counter {
        font-size: 50px;
    }

    .playagain {
        position: absolute;
        bottom: 10px
    }

    .open-leaderboard {
        
    }
}