@media screen and (max-width: 1200px) {
    .holes {
        width: 100%;
        height: auto;
        top: 0;
    }

    .stats {
            width: 100%;
            background: #87cefa;
            bottom: 0;
            flex-direction: row;
            height: 130px;
            top: auto;
            z-index: -21;
            align-items: end;
            padding-bottom: 20px;
            height: 100vh;
    }

    body {
        overflow: hidden;
    }
    .savescore {
        font-size: 23px;
    }

    .savescore h1 {
        font-size: 14px;
    }

    .hole {
        width: 19vw;
        height: 19vw;
    }

    img {
        width: 55px;
        height: 55px;
    }

    .mole {
        display: flex;
        justify-content: center;align-items: center;
    }
    /* .stats {
        width: 40%;
        position: absolute;
        right: 0px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
    } */

    .timer,
    .counter {
        font-size: 50px;
    }

    .playagain {
        position: absolute;
        top: 20px;
    }

    .open-leaderboard {
         top: auto;
         bottom: 10px;
    }

    .leaderboard {
        width: 80%;
    }
    .hole {
        width: 14vw;
        height: 14vw;
    }
}



@media screen and (max-width: 600px) {
    .stats {
        top: 0vh;
        height: auto;
        flex-direction: column;
        width: 100%;
        background: #87cefa;
        bottom: 0;
        height: 88vh;
        align-items: center;
        justify-content: end;
        padding-bottom: 100px;
    }
    .holes {
        width: 100%;
        height: auto;
        top: 0;
    }
    .hole {
        width: 18vw;
        height: 18vw;
    }

}